/* styles.css */

/* Add this section to change the button color */
#reset1 {
  background-color: #ec6555; 
  color: white;
  border: none;
}

#reset2 {
  background-color: #ec6555; 
  color: white;
  border: none;
}